<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
        eligendi incidunt dolorem labore minima voluptatem quam aut, illum,
        tempore, est facere! Adipisci sequi sit fugit dicta, numquam architecto
        reiciendis minima.
      </p>
    </header>
    <div style="width: 30%;">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, ea?
        </div>
      </div>
    </div>
  </section>
  <section class="block block--dark block--skewed-left">
    <div class="conatainer">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
        eligendi incidunt dolorem labore minima voluptatem quam aut, illum,
        tempore, est facere! Adipisci sequi sit fugit dicta, numquam architecto
        reiciendis minima.
      </p>
    </div>
  </section>